# MalVision System SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=support.malvisionai@gmail.com
SMTP_PASSWORD=PASTE_YOUR_GOOGLE_APP_PASSWORD_HERE
SMTP_FROM_EMAIL=support.malvisionai@gmail.com
SMTP_FROM_NAME=MalVision

# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://yaseenashu18:yaseenashu18@threat-detection.f39agqr.mongodb.net/?appName=threat-detection
